.main-container {
  display: flex;
  background-color: #181818;
  height: 100vh;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .main-container {
    flex-direction: column;
  }
}

.app-profile-container {
  width: 100%;
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .app-profile-container {
    height: 98vh;
  }
}

.profile-container {
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
@media screen and (max-width: 767px) {
  .profile-container {
    width: 80%;
    max-width: 600px;
  }
}

.profile-img {
  font-size: 30vh;
  border: 3px solid white;
  border-radius: 50%;
  padding: 6%;
}
@media screen and (max-width: 767px) {
  .profile-img {
    font-size: 20vh;
  }
}
.profile-name {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .profile-name {
    font-size: 24px;
    line-height: 32px;
  }
}
.profile-details {
  width: 88%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details-val {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-weight: bold;
  color: #1db954;
  margin: 0px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .details-val {
    font-size: 14px;
    line-height: 21px;
  }
}

.details-name {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .details-name {
    font-size: 10px;
    line-height: 14px;
  }
}

.profile-btn {
  height: 40px;
  width: 120px;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 14px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .profile-btn {
    height: 30px;
    width: 80px;
    font-size: 10px;
  }
}
