.playlist-container {
  display: flex;
  background-color: #181818;
  height: 100vh;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .playlist-container {
    flex-direction: column;
  }
}

.playlist-app-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 30px;
  padding-top: 50px;
}
@media screen and (max-width: 767px) {
  .playlist-app-container {
    padding: 20px;
  }
}

.playlists-heading {
  color: white;
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .playlists-heading {
    font-size: 18px;
    line-height: 21px;
  }
}

.playlists-list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .playlists-list {
    justify-content: space-evenly;
  }
}
.nav-link {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
