.main-container {
  display: flex;
  background-color: #181818;
  height: 100vh;
}
@media screen and (max-width: 767px) {
  .main-container {
    flex-direction: column;
  }
}

.home-app-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 30px;
  padding-top: 50px;
}
@media screen and (max-width: 767px) {
  .home-app-container {
    padding: 20px;
  }
}

.bottom-group {
  display: flex;
  position: fixed;
  border: 1px solid white;
  background-color: white;
  color: black;
  height: 50px;
  width: 100%;
  z-index: 10;
  bottom: 0px;
  padding-left: 10px;
}

.icons {
  font-size: 24px;
}

.buttons-play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.slider {
  width: 100%;
}

.top-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #393b40;
  color: white;
  border: 1px solid white;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-input {
  width: 250px;
  height: 25px;
  margin-left: 20px;
  border: none;
  outline: none;
  border-radius: 12px;
}
