.sp-album-container {
  display: flex;
  background-color: #181818;
  height: 100vh;
  overflow: auto;
}

.header-container {
  display: block;
}
@media screen and (max-width: 767px) {
  .header-container {
    display: none;
  }
}

.sp-album-app-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 10px;
  padding-left: 30px;
}
@media screen and (max-width: 767px) {
  .sp-album-app-container {
    padding: 20px;
  }
}

.sp-album-heading {
  color: white;
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .sp-album-heading {
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
  }
}

.nav-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.sp-albums-List {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
