.music-container {
  display: flex;
  background-color: #181818;
  height: 100vh;
  overflow: auto;
}
@media screen and (max-width: 767px) {
  .music-container {
    flex-direction: column;
  }
}

.music-playlist-section {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .music-playlist-section {
    padding-top: 0px;
  }
}

.music-app-container {
  height: 88%;
  overflow: auto;
  padding: 30px;
  padding-top: 50px;
}
@media screen and (max-width: 767px) {
  .music-app-container {
    padding: 20px;
    height: 84%;
  }
}

.music-heading {
  color: white;
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .music-heading {
    font-size: 21px;
    line-height: 26px;
  }
}
.music-list-container {
  width: 95%;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .music-list-container {
    width: 100%;
  }
}
.music-item-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}

.music-item-img {
  height: 70px;
  width: 70px;
  margin-right: 30px;
  border: none;
  border-radius: 6px;
}
@media screen and (max-width: 767px) {
  .music-item-img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
}

.music-item-details {
  display: flex;
  flex-direction: column;
  color: white;
}

.music-item-name {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .music-item-name {
    font-size: 12px;
    line-height: 14px;
  }
}

.music-item-artists {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9b9b9b;
}
@media screen and (max-width: 767px) {
  .music-item-artists {
    font-size: 10px;
    line-height: 12px;
  }
}
.music-item-duration {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9b9b9b;
  margin-left: auto;
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .music-item-duration {
    margin-right: 0px;
  }
}
